body {
    height: 100vh;
    background: #9c27b0;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* .py-4 img {
    position: relative;
    width: 100%;
    padding: 0 !important;
} */

.navbar-laravel {
    font-family: 'Roboto', sans-serif;
    z-index: 999;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 10px 5px rgba(0,0,0,.3);
}

/* ---------------------welcom.blade------------------------- */
.container-fluid {
    /* height:1046px; */
    height: auto;
    padding: 0;
    margin: 0%;
}
.container-fluid video{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.733);
}

.container {
    text-align: center;
}

#titre {
    margin: 0%;
    padding: 0%;
    font-size: 5.4em;
    color: #20024ab3;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 10px;
}
#titre::before{
    content: attr(data-text);
    position: absolute;
    top: 0%;
    left: 0%;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 0.88em;
    background: linear-gradient(0deg, #fff 0, transparent);
    -webkit-background-clip: text;
    opacity: 0.5;
}

.container h1 {
    margin-bottom: 2%;
}

.container h2 {
    margin-bottom: 3%;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.app .navbar {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.container .mot {
    text-align: center;
    padding: 30px;
}

/* ---------------------------------------------------------- */
/* ------------------PROGRAMME DANCE------------------------- */
/* ----------------------------------------------------------  */


.programme {
    height: 500px;
    width: 100%;
    display: flex;
}

.programme .box {
    position: relative;
    width: 278px;
    height: 500px;
    background: #ccc;
    transition: 0.5s;
}

.programme .box:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.programme .box .thumb {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.programme .box:nth-child(odd) .thumb {
    bottom: 0;
    left: 0;
}

.programme .box .thumb img {
    width: 100%;
    height: 250px;
    /* object-fit: cover; */
    background-size: cover;
}

.programme .box .detail {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #262626;
}

.programme .box:nth-child(even) .detail {
    bottom: 0;
    left: 0;
}

.programme .box:nth-child(1) .detail {
    background: #8553cb;
}

.programme .box:nth-child(2) .detail {
    background: #fe8f01;
}

.programme .box:nth-child(3) .detail {
    background: #79d400;
}

.programme .box:nth-child(4) .detail {
    background: #ff3b34;
}

.programme .box .detail .content {
    position: absolute;
    top: calc(50% + 20px);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.programme .box:hover .detail .content {
    top: calc(50%);
}

.programme .box .detail .content .fas {
    font-size: 80px;
    color: #fff;
}

.programme .box .detail .content h3 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

.programme .box .detail .content a {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.7s;
    border-radius: 20px;
    color: #fff;
    transform: scale(0);
}

.programme .box:hover .detail .content a {
    transform: scale(1);
}

.programme .box .detail .content a:hover {
    background: #fff;
    color: #262626;
}


/* ---------------------welcom.blade------------------------- */

/* ---------------------LOGIN.BLADE------------------------- */
.container .row .col-md-8 .auth {
    color: #212529;
}

/* ---------------------REGISTER------------------------- */
.form-control {
    color: #4d4e50;
    border: 1px solid #627c96;
}

.card-header,
.card,
hr {
    border: 1px solid #627c96;
    color: black;

}

.card {
    padding: 10px;
    color: black;
    margin-top: 80px;

}


/* ---------------------------------------------------------- */
/* ------------------FOOTER DANCE---------------------------- */
/* -----------------------------------------------------------*/

footer {
    height: 440px;
    padding-top: 3%;
    background: #7b1fa2;
    margin-top: 2.5%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
    font-family: 'Roboto', sans-serif;
}
footer .content{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
footer .contact{
    width: 560px;
    height: 360px;
    background: #7b1fa2;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
    padding: 1%;
    text-transform: uppercase;
    border-radius: 10px;
}
footer .contact .horaires{
    display: flex;
    justify-content: space-around;
    margin:4%;
}
footer .contact .horaires {
    text-align: left;
}
footer .contact .horaires .premier{
    color: #A7CC33;
    text-shadow: 1px 1px 1px rgba(167,204,51,.4);
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.em;
}
footer .contact .rens-contact{
    width: 50%;
    text-align: center;
}
footer .contact .rens ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
